// ********************************************************************************
// * WP-META
// */
$wp-meta : false;

$wp-theme-name   : 'gofresh';
$wp-theme-uri    : 'gofresh.de';
$wp-author       : 'Marius Wolber';
$wp-author-uri   : 'http://kommtnoch.de';
$wp-desc         : "mein erstes wp theme";
$wp-version      : '';
$wp-license      : '';
$wp-license-uri  : '';
$wp-tags         : 'Blog', 'und so';
$wp-ps           : "";



// ********************************************************************************
// * #Map-viewports
// */
$map-viewports: (
    "m"  : "screen and (max-width: 640px)",
    "t"  : "screen and (min-width: 641px) and (max-width: 980px)",
    "d"  : "screen and (min-width: 981px) and (max-width: 1900px)",
    "hd" : "screen and (min-width: 1901px)"
);



// ********************************************************************************
// * #Grid-settings
// */
$grid-type : justify;



// ********************************************************************************
// * #Wrapper-settings
// */
$wrapper-max-width : 1880px;
$wrapper-width-d   : percentage( 12 / 12 );
$wrapper-width-m   : 100%;
$wrapper-width-t   : 100%;
$wrapper-padding-d : 0 percentage( 1 / 12 );




// ********************************************************************************
// * #Base-Settings
// */
$base-font-size : 20px;



@import 'settings-helper';
@import 'settings-tools';