.about{
    display: flex;
    align-items: center;
    justify-content: center;

    &__img{
        flex-basis: 200%;
        order: 2;
        //clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
        //height: 100%;
    }

    &__text{
        text-align: left;
        padding-right: 2rem;
    }

    @media screen and (max-width:980px) {
        display: block;
    }
}