html{
    scroll-behavior: smooth;
    width: 100vw;
}

.content{
    width: 100%;
    position: relative;
    
    top: -100vh;
    padding: 5% 5%;
    
    &--clipped{
        background-color: $color-03; 
        clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
        color: black;
     /*    h1{color: black;} */
        padding: 10% 5%;
        height: 100vh;
    }

    @media screen and (max-width: 980px) {
        width: 100vw;
        left: 0;
        top:0;
       
    }
}

.hero {
    width: 100%;
    position: relative;
    top: -100vh;
    height: 100vh;
    background-image: url(https://picsum.photos/id/870/200/300?grayscale&blur=2);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        color: black;
    }
    &__text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
   
    :hover{
        background-color: white;
        color: black;
    }
    }

    }
    @media screen and (max-width: 980px) {
        width: 100vw;
        left: 0;
        top:0;
        height: 75vh;
    }
}
