.navigation{
    background-color: $color-00;
    padding: 0;
    width: 25vw;
    height: 100vh;

    img{width:100%;}

    &_ul{
        text-align: center;
        padding: 0;
    }

    #menu-main a{
        display:block;
        padding: 0.5rem 0;
        background-color: $color-00;
        transition: 0.5s;

         &:hover {
            transform: translateX(2rem);
            background-color: $color-01;}
    }

    a.icon{display: none;}

    @media  screen and (max-width: 980px) {
        width: 100vw;
        height: 25vh;

        #menu-main a {display: none;}

        a.icon {
            float: right;
            display: block;
            
            padding: 4rem;
          }

        img{width:auto;
                height:100%;}
    }
    
}

.navigation.responsive{
    
    @media screen and (max-width: 980px) {

         #menu-main a {
          float: none;
          display: block;
          text-align: center;
        }
}}
